@import 'tailwindcss';

@import '@maxigarcia/js-theme-animation/circular-reveal/index.css';

@custom-variant dark (&:where(.dark, .dark *));

html {
  view-transition-name: root;
}

:root {
  color-scheme: light;
  background-color: #fff;
  color: #111;
}

:root.dark {
  color-scheme: dark;
  background-color: #111;
  color: #eee;
}
